In [2]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("Walmart.csv")
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [14]:
df['Date'] = pd.to_datetime(df['Date'], format="%d-%m-%Y")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   datetime64[ns]
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(2)
memory usage: 402.3 KB

In [15]:
df_model = df.copy()

df_model['year'] = df_model['Date'].dt.year
df_model['month'] = df_model['Date'].dt.month
df_model['week'] = df_model['Date'].dt.isocalendar().week.astype(int)

df_model = df_model.drop(columns=["Date"])
df_model.head()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,year,month,week
0,1,1643690.90,0,42.31,2.572,211.096358,8.106,2010,2,5
1,1,1641957.44,1,38.51,2.548,211.242170,8.106,2010,2,6
2,1,1611968.17,0,39.93,2.514,211.289143,8.106,2010,2,7
3,1,1409727.59,0,46.63,2.561,211.319643,8.106,2010,2,8
4,1,1554806.68,0,46.50,2.625,211.350143,8.106,2010,3,9

In [16]:
df_model['Weekly_Sales_log'] = np.log1p(df_model['Weekly_Sales'])

In [17]:
df_model = df_model.drop(columns=['Holiday_Flag'])

In [18]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df_model["Store"] = label_encoder.fit_transform(df_model['Store'])

In [22]:
df_model

,Store,Weekly_Sales,Temperature,Fuel_Price,CPI,Unemployment,year,month,week,Weekly_Sales_log
0,0,1643690.90,42.31,2.572,211.096358,8.106,2010,2,5,14.312455
1,0,1641957.44,38.51,2.548,211.242170,8.106,2010,2,6,14.311400
2,0,1611968.17,39.93,2.514,211.289143,8.106,2010,2,7,14.292967
3,0,1409727.59,46.63,2.561,211.319643,8.106,2010,2,8,14.158908
4,0,1554806.68,46.50,2.625,211.350143,8.106,2010,3,9,14.256862
...,...,...,...,...,...,...,...,...,...,...
6430,44,713173.95,64.88,3.997,192.013558,8.684,2012,9,39,13.477482
6431,44,733455.07,64.89,3.985,192.170412,8.667,2012,10,40,13.505523
6432,44,734464.36,54.47,4.000,192.327265,8.667,2012,10,41,13.506898
6433,44,718125.53,56.47,3.969,192.330854,8.667,2012,10,42,13.484401
6434,44,760281.43,58.85,3.882,192.308899,8.667,2012,10,43,13.541445

In [24]:
df_model.to_csv("../data/walmart_ml_data.csv", index=False)